.about-carousel {
  padding: 8rem 2rem 4rem 2rem;
  font-family: sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* border: 1px solid white; */
  position: relative;
}

.about-heading {
  font-size: 3rem;
  font-weight: 700;
  color: yellowgreen;
  margin-bottom: 50px;
}

input[type="radio"] {
  display: none;
}

.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 12%; */
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: fit-content;
  margin: 12% 0;
  /* background-color: blueviolet; */
}

.card {
  position: absolute;
  width: 40vw; 
  height: 40vh;
  left: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
  transition: transform 0.4s ease, opacity 0.4s ease;
  border-radius: 20px;
  /* background-color: rgb(253, 148, 11); */
}

.card img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

/* Position logic for carousel */
#item-1:checked ~ .carousel-container .cards #img-3,
#item-2:checked ~ .carousel-container .cards #img-1,
#item-3:checked ~ .carousel-container .cards #img-2 {
  transform: translateX(-40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked ~ .carousel-container .cards #img-2,
#item-2:checked ~ .carousel-container .cards #img-3,
#item-3:checked ~ .carousel-container .cards #img-1 {
  transform: translateX(40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked ~ .carousel-container .cards #img-1,
#item-2:checked ~ .carousel-container .cards #img-2,
#item-3:checked ~ .carousel-container .cards #img-3 {
  transform: translateX(0) scale(1);
  opacity: 1;
  z-index: 1;
  box-shadow: 0 0 1rem 0.1rem rgb(36, 36, 36);
}

/* Text display animation */
.about-text-display {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 130px;
  overflow: hidden;
  /* background-color: rgb(255, 127, 127); */
  /* margin-top: 12%; */
}

.about-text-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: transform 0.4s ease-in-out;
  height: 390px; /* 130px * 3 */
}

.about-content {
  /* background-color: aqua; */
  height: 130px;
  width: 60%;
  padding: 10px 20px;
}

.about-content h2 {
  color: yellowgreen;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.about-content p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgb(181, 177, 177);
}

/* Resume download button */
.download-btn {
  box-shadow: 0 0 0.3rem 0.1rem yellowgreen;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  margin: 1.5rem;
}

.download-btn:hover {
  background: yellowgreen;
  color: rgb(0, 0, 0);
  box-shadow: 0 0 0.3rem 0.1rem rgb(59, 59, 59);
}

@media screen and (max-width:1440px){
  .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: fit-content;
    margin: 20% 0;
    /* background-color: blueviolet; */
  }
}

@media screen and (max-width:1024px){
  .about-heading {
    font-size: 2.8rem;
    font-weight: 700;
    color: yellowgreen;
    margin-bottom: 50px;
  }
  .about-content {
    /* background-color: aqua; */
    height: 130px;
    width: 100%;
    padding: 10px 20px;
  }
  .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: fit-content;
    /* margin: 30% 0; */
    /* background-color: blueviolet; */
  }
}

@media screen and (max-width:950px){
  .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: fit-content;
    margin: 40% 0;
    /* background-color: blueviolet; */
  }
}

@media screen and (max-width:768px){

  .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: fit-content;
    margin: 40% 0;
    /* background-color: blueviolet; */
  }

  .download-btn {
    box-shadow: 0 0 0.3rem 0.1rem yellowgreen;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    margin: 1.5rem;
  }

  .card {
    position: absolute;
    width: 40vw; 
    height: 40vh;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: transform 0.4s ease, opacity 0.4s ease;
    border-radius: 20px;
    background-color: transparent;
  }

  .card img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 20px;
  }

  

}

@media screen and (max-width:705px){

  .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: fit-content;
    margin: 40% 0;
    /* background-color: blueviolet; */
  }

  .download-btn {
    box-shadow: 0 0 0.3rem 0.1rem yellowgreen;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    margin: 1.5rem;
  }

  .card {
    position: absolute;
    width: 40vw; 
    height: 40vh;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: transform 0.4s ease, opacity 0.4s ease;
    border-radius: 20px;
    background-color: transparent;
  }

  .card img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 20px;
  }

  .about-heading {
    font-size: 2.8rem;
    font-weight: 700;
    color: yellowgreen;
    margin-bottom: 40px;
  }
  .about-content {
    /* background-color: aqua; */
    height: 130px;
    width: 100%;
    padding: 15px 10px;
  }
  
  .about-content p {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    color: rgb(181, 177, 177);
    font-size: 0.9rem;
  }

}

@media screen and (max-width:600px){

  .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: fit-content;
    margin: 45% 0;
    /* background-color: blueviolet; */
  }

  .about-carousel {
    padding: 8rem 2rem 4rem 2rem;
    font-family: sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 1px solid white; */
  }

  .download-btn {
    box-shadow: 0 0 0.3rem 0.1rem yellowgreen;
    color: white;
    padding: 10px 10px;
    border-radius: 8px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    margin: 1.5rem;
  }

  .card {
    position: absolute;
    width: 40vw; 
    height: 40vh;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: transform 0.4s ease, opacity 0.4s ease;
    border-radius: 20px;
    background-color: transparent;
  }

  .card img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 20px;
  }

  .about-heading {
    font-size: 2.8rem;
    font-weight: 700;
    color: yellowgreen;
    margin-bottom: 40px;
  }
  .about-content {
    /* background-color: aqua; */
    height: 130px;
    width: 100%;
    padding: 15px 5px;
  }
  
  .about-content p {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    color: rgb(181, 177, 177);
    font-size: 0.8rem;
  }

}

@media screen and (max-width:450px){

  .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: fit-content;
    margin: 70% 0;
    /* background-color: blueviolet; */
  }

  .about-carousel {
    padding: 8rem 2rem 4rem 2rem;
    font-family: sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 1px solid white; */
  }

  .download-btn {
    box-shadow: 0 0 0.3rem 0.1rem yellowgreen;
    color: white;
    padding: 10px 10px;
    border-radius: 8px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    margin: 1.5rem;
  font-size: 0.9rem;
  }

  .card {
    position: absolute;
    width: 40vw; 
    height: 40vh;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: transform 0.4s ease, opacity 0.4s ease;
    border-radius: 20px;
    background-color: transparent;
  }

  .card img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 20px;
  }

  .about-heading {
    font-size: 2.5rem;
    font-weight: 700;
    color: yellowgreen;
    margin-bottom: 40px;
  }
  .about-content {
    /* background-color: rgb(0, 255, 0); */
    height: 130px;
    width: 100%;
    padding: 15px 5px;
  }
  
  .about-content h2 {
    color: yellowgreen;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 1.5rem;
  }

  .about-content p {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    color: rgb(181, 177, 177);
    font-size: 0.7rem;
    width: 100%;
  }

}

@media screen and (max-width:400px){

  .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: fit-content;
    margin: 75% 0;
    /* background-color: blueviolet; */
  }

  .about-carousel {
    padding: 8rem 2rem 4rem 2rem;
    font-family: sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 1px solid white; */
  }

  .download-btn {
    box-shadow: 0 0 0.3rem 0.1rem yellowgreen;
    color: white;
    padding: 10px 10px;
    border-radius: 8px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    margin: 1.5rem;
  font-size: 0.9rem;
  }

  .card {
    position: absolute;
    width: 40vw; 
    height: 40vh;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: transform 0.4s ease, opacity 0.4s ease;
    border-radius: 20px;
    background-color: transparent;
  }

  .card img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 20px;
  }

  .about-heading {
    font-size: 2rem;
    font-weight: 700;
    color: yellowgreen;
    /* margin-bottom: 20px; */
  }
  .about-content {
    /* background-color: rgb(0, 255, 0); */
    height: 130px;
    width: 100%;
    padding: 15px 5px;
  }
  
  .about-content h2 {
    color: yellowgreen;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 1rem;
  }

  .about-content p {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    color: rgb(181, 177, 177);
    font-size: 0.7rem;
    width: 100%;
  }

}

@media screen and (max-width:375px){
  .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: fit-content;
    margin: 45% 0;
    /* background-color: blueviolet; */
  }
}